@import "tailwindcss";
@import "./assets/main.css";

@theme {
    --text-lg: 3rem;
    --bg: #0f1116;
    --dark1: #13293d;
    --dark2: #006494;
    --middle: #247ba0;
    --light2: #1b98e0;
    --light1: #e8f1f2;
}
