/*
colors
*/
.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation:
        fadein 0.2s ease-out,
        fadeout 0.3s ease-in 4.7s forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }
}

body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

/* App-wide styling */
table,
th,
td,
tr {
    border: solid 2px var(--middle);
    border-collapse: collapse;
}

th {
    height: 40px;
}

td {
    min-width: 10rem;
    height: 50px;
    /*text-align: center;*/
}
