/*
colors
*/

body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

/* App-wide styling */
table,
th,
td,
tr {
    border: solid 2px var(--middle);
    border-collapse: collapse;
}

th {
    height: 40px;
}

td {
    min-width: 10rem;
    height: 50px;
    /*text-align: center;*/
}
